body {
  //  Primary

  --SoftOrange: hsl(35, 77%, 62%);
  --SoftRed: hsl(5, 85%, 63%);

  //  Neutral

  --OffWhite: hsl(36, 100%, 99%);
  --GrayishBlue: hsl(233, 8%, 79%);
  --DarkGrayishBlue: hsl(236, 13%, 42%);
  --VeryDarkBlue: hsl(240, 100%, 5%);

  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  display: block;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
main {
  padding: 15px;
}
.hero {
  h1 {
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
  }
  p {
    margin-top: 16px;
    font-size: 15px;
    line-height: 26px;
    color: var(--DarkGrayishBlue);
  }
  &-button {
    width: 185px;
    height: 48px;
    background-color: var(--SoftRed);
    border: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    font-weight: 700;

    color: white;
  }
}
.news {
  padding: 15px;
  background-color: var(--VeryDarkBlue);
  margin-bottom: 20px;
  h2 {
    color: var(--SoftOrange);
    font-size: 32px;
    font-weight: 700;
  }
}
.new {
  margin-top: 35px;
  border-bottom: 1px solid var(--GrayishBlue);
  h2 {
    font-size: 20px;
    line-height: 24px;
    color: white;
  }
  p {
    margin-top: 8px;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: var(--GrayishBlue);
    padding-bottom: 29px;
  }
}
.articles {
  padding-bottom: 40px;
}
.article {
  margin-top: 10px;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}
.article-img {
  margin-right: 10px;
}
.text {
  &-number {
    font-size: 32px;
    font-weight: 900;
    line-height: 32px;
    color: var(--GrayishBlue);
  }
  &-title {
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
  }
  &-paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }
}
.nav {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  display: flex;
  background-color: var(--OffWhite);
  width: 80%;
  height: 100vh;
  transition: 0.4s all;
  ul {
    margin-top: 144px;
    padding: 24px;
    list-style: none;
    font-size: 18px;
    line-height: 24px;
    li {
      margin-bottom: 24px;
    }
  }
}
.nav-image-close {
  width: 35px;
  top: 10px;
  right: 10px;
  padding: 10px;
  position: absolute;
  display: flex;
  justify-content: flex-end;
}
.open {
  transform: translateX(0);
}
